div{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 4px;
    line-height: 3;
    font-weight: 700;
    background-image: 
        url(media/bed.jpg);
        background-size: cover;
        background-position: center;
        back 
    
}

h1{
    font-family: 'Rajdhani', sans-serif;
}

li{
    height: 100px;
}