html{
    font-size: 50%;
    padding: 0%;
    margin: 10 20;
    box-sizing: border-box;
}

.header{
    background-color: blueviolet;
    padding: 20rem;
    margin: 1rem auto;
    height: 99%;
    width: 95%;
    position: relative;
}

.image-box{
    position: relative;
    background-color: white;
    height: 30%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}

#center{
    position: absolute;
    width: 35%;
    height: auto;
    margin-top: 20rem;
    margin-left: 117rem;
    margin-right: 50%;

}

#text{
    position: absolute;
    text-align: center;
    font-size: 10rem;
    color: blueviolet;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    left: 33%;
}

.center-box{
    position: relative;
    background-color: #a29bfe;
    height: 40%;
    width: 30%;
    margin-top: 80rem;
    margin-left: auto;
    margin-right: auto; 
}

#back{
    position: absolute;
    height: 90%;
    width: auto;
    margin-top: 8rem;
    margin-left: 5rem;
    z-index: 1;
}

#front{
    position: absolute; 
    height: 80%;
    width: auto;
    margin-top: 16rem;
    margin-left: 7.5%;
    z-index: 2;
}

.name{
    position: relative;
    color: blue;
    height: 25rem;
    width: 100rem;
    margin-top: 50%;
    margin-left: 50%;
}